.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8C1515; /* Cardinal Red for header background */
  padding: 10px 20px; /* Padding for header */
  color: #fff; /* White text color */
}

.logo img {
  height: 50px; /* Logo height */
}

.nav ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Flexbox for horizontal alignment */
}

.nav li {
  margin: 0 15px; /* Space between menu items */
  position: relative; /* Needed for absolute positioning of the dropdown */
}

.nav a {
  color: #FFCC00; /* Gold color for link text */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  transition: color 0.3s; /* Smooth color transition */
}

.nav a:hover {
  color: #fff; /* Change color to white on hover for contrast */
}
