/* Center the buttons */
.hero {
  height: 100vh;
  background-image: url("../../../../public/images/bg.webp"); /* Update path to be absolute from the public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: var(--header-height);
  color: var(--text-color);
  transition: background-position 0.2s ease-out;
}

.hero-content {
  text-align: center;
  padding: 20px;
}

/* Button container styling */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
  margin-top: 20px;
}

/* Styling for buttons */
.primary-btn,
.secondary-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Primary button style */
.primary-btn {
  background-color: #8c1515;
  color: #fff;
}

/* Secondary button style */
.secondary-btn {
  background-color: transparent;
  color: #8c1515;
  border: 2px solid #8c1515;
}

.primary-btn:hover,
.secondary-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.icon {
  margin-left: 10px;
  transition: all 0.3s ease;
}

.primary-btn:hover .icon,
.secondary-btn:hover .icon {
  transform: translateX(5px);
}
