:root {
  --primary-bg: #f8f8f8; /* Light background */
  --secondary-bg: #8C1515; /* Cardinal Red for accents */
  --primary-text-color: #555; /* Neutral text color */
  --secondary-text-color: #cecece; /* Light grey for secondary text */
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg); /* Use primary background */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-bg); /* Cardinal Red links */
}

a:hover {
  color: #ffcc00; /* Gold on hover */
}
